@import "nullstyle.scss";
@import "form-filter-selection.scss";

body._lock{
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #D8C3A4;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header {
    background: #E5574E;
    flex: 0 1 80px;
    user-select: none;
    color: white;
    &__description {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3px;
        h1 {
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
        }
        p {
            font-size: 16px;
        }
    }
    &__menu{
        display: none;
    }
}

.main {
    flex: 1 1 auto;
    background: #E9E8DC;
    display: flex;
    position: relative;
    gap: 20px;
    border-radius: 3px;
}
.main_margin {
    margin: 20px 20px 20px;
}

.sidebar {
    background: rgb(214, 149, 188);
    position: sticky;
    top: 15px;
    left: 0;
    width: 400px;
    height: 650px;
    border: 3px solid rgb(187, 109, 156);
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px rgb(214, 149, 188);
}
.sidebar_margin {
    margin: 30px 0 100px 30px;
}
.form {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: relative;
    &__age-filter {
        @extend %form-filter-selection;
    }
    &__name-filter {
        @extend %form-filter-selection;
    }
    &__age-from-to-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        input[type="number"] {
            width: 50px;
            text-align: center;
            border-radius: 3px;
            padding: 3px 0;
            box-shadow: 0 2px 4px 1px rgb(113, 113, 113);
        }
        .age-from-to-btn {
            width: 120px;
            padding: 10px 0;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            background: rgb(127, 127, 255);
            border: 2px solid rgb(100, 100, 255);
            box-shadow: 0 2px 5px 1px rgb(127, 127, 255);
            color: white;
            border-radius: 10px;
            transition: all 0.3s;
            cursor: pointer;
        }
        .age-from-to-btn:hover {
            background: rgb(100, 100, 255);
        }
        .age-from-to-btn:active {
            background: rgb(127, 127, 255);
        }
    }
    &__age-from-to-filter::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgb(167, 71, 129);
        top: -15px;
        left: 0;
    }
    &__age-from-to-filter::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgb(167, 71, 129);
        top: 109%;
        left: 0;
    }
    &__search-by-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        position: relative;
        font-size: 20px;
        font-weight: 700;
        #name-search {
            padding: 5px 10px;
            border-radius: 3px;
            box-shadow: 0 2px 4px 1px rgb(113, 113, 113);
        }
        #search-by-name {
            width: 160px;
            padding: 10px 0;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            background: rgb(127, 127, 255);
            border: 2px solid rgb(100, 100, 255);
            box-shadow: 0 2px 5px 1px rgb(127, 127, 255);
            color: white;
            border-radius: 10px;
            transition: all 0.3s;
            cursor: pointer;
        }
        #search-by-name:hover {
            background: rgb(100, 100, 255);
        }
        #search-by-name:active {
            background: rgb(127, 127, 255);
        }
    }
    &__search-by-name::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgb(167, 71, 129);
        top: 112%;
        left: 0;
    }
    &__gender-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-weight: 700;
        font-size: 20px;
    }
    &__gender-filter_genders {
        @extend %form-filter-selection;
    }
    &__reset {
        width: 160px;
        padding: 15px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        background: rgb(252, 62, 62);
        border: 2px solid rgb(195, 48, 48);
        box-shadow: 0 1px 5px 2px rgb(219, 66, 66);
        color: white;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;
        text-align: center;
    }
    &__reset:hover{
        background: rgb(215, 47, 47);
    }
    &__reset:active{
        background: rgb(252, 62, 62);
    }
}
.form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(187, 109, 156);
    top: 555px;
    left: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-content_margin {
    margin: 30px 30px 30px 0;
}


.cards-wrapper{
    flex: 0 1 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__loading{
        font-weight: 700;
        font-size: 30px;
    }
}
.cards-wrapper._loaded {
    flex: 0 1 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
    justify-items: center;
}

.card.hidden{
    display: none;
}

.card {
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 2px 10px 1px rgb(194, 194, 194);
    border-radius: 5px;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    background: white;
    &__name {
        padding: 10px;
        color: white;
        font-size: 16px;
    }
    &__name.female {
        background: rgb(214, 149, 188);
    }
    &__name.male {
        background: rgb(127, 127, 255);
    }
    &__avatar {
        align-self: center;
        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__description {
        flex: 1 1 auto;
        text-align: center;
        margin: 10px 0 0 0;
        span{
            font-weight: 700;
        }
        p {
            margin: 0 0 5px 0;
            color: gray;
        }
        p:last-child {
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 10px;
        }
    }
    &__description::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 1px;
        background: rgb(188, 188, 188);
    }
    &__gender {
        flex: 0 1 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(241, 241, 241);
        text-transform: capitalize;
    }
}

.pagination-container {
    flex: 0 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-container_margin-top {
    margin: 10px 0 0 0;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}
.pagination-number.active {
    color: #fff;
    background: #0085b6;
}

.footer {
    flex: 0 1 50px;
    background: #E6584F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

@media (max-width: 865px){
    .cards-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        row-gap: 20px;
        //justify-items: center;
    }
}

@media (max-width: 690px){
    .sidebar{
        display: none;
    }
    .main{
        //border: 1px solid black;
        display: inline-block;
        margin: 80px 0 0 0;
    }
    .main-content{
        margin: 10px 0 0 0;
    }
    .cards-wrapper{
        width: 100%;
        //border: 1px solid red;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__description{
            align-items: flex-start;
            margin: 0 0 0 20px;
        }
    }

    .menu{
        display: block;
    }
    
    .menu__icon{
        z-index: 10000;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        margin: 0 20px 0 0;
        cursor: pointer;
        span{
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }

    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background: #fff;
    }
    .menu__icon::before,
    .menu__icon::after{
        content: "";
    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }

    .menu__body{
        position: fixed;
        z-index: 5000;
        background: rgb(214, 149, 188);
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        form::after{
            top: 87%;
        }
    }
    .menu__body.show{
        left: 0;
    }
}